html, body {
  height: 96.7%;
}
body{
  margin: 0;
}

.header{
  height: 5%;
  margin-bottom: 20px;
  
}
.header img{
  margin: 10px;
  max-width:100%;
  max-height:100%;
  object-fit: contain;
  overflow: hidden;
}

.header p{
  height: 5%;
  padding:14px;
  font-size: 18px;
  float: right;
}

.divider{
  width: 100%;
  height: 2px;
  background-color: gray;
}

.popup p{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.popup .name {
  font-weight: bold;
}

#mapid{
    margin:0;
    float:right;
    min-height: 100%;
    /*max-width: 170em; */
}

.map-overlay {
  font: 12px/20px 'Segoe UI', Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: fixed;
  width: 25%;
  top: 10px;
  left: 10px;
  padding: 10px;
  display: none;
  z-index: 99;
  }

h1 { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

#information{
  float: left;
}

/* SIDEPANEL */
.sidepanel{
  float:left;
  margin:0;
  max-width: 31em;
  min-height: 100%;
  background-color: white;
  border-right: solid;
  border-width: 1px;
  border-right-color: gray;
  overflow: hidden;
}

.sidepanel .selection{
  float: left;
  margin: 0.5em;
  width: 100%;
}
.sidepanel .selection input{
  float: left;
  min-width: 89.2%;
  padding: 6px;
  font-size: 17px;
  border: solid #444;
  background-color: white;
  border-radius: 2px;
}

.sidepanel .selection input:hover{
  border-color: #D94E28;
}

.sidepanel select{
  float: left;
  width: 93%;
  padding: 6px;
  font-size: 17px;
  border: solid #444;
  background-color: white;
  border-radius: 2px;
}

.sidepanel select:hover{
  border-color: #D94E28;
}

#information{
  font: 12px/20px 'Segoe UI', Arial, Helvetica, sans-serif;
}
#information p{
  margin: 2px;
}


/* // DROPDOWN CHECKBOX \\ */

.dropdown-check-list{
  float: left;
  margin: 0.5em;
  font-family:'Segoe UI', Arial, Helvetica, sans-serif;
  font-size: 17px;
  max-width: 100%;
  min-width: 96%;
  border-radius: 3px;
}

.dropdown-check-list .itemsContainer{
  max-height: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 97%;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  min-width: 83%;
  padding: 5px 50px 5px 10px;
  border: solid #444;
  background-color: white;
  border-radius: 2px;
}

.dropdown-check-list .anchor:hover{
  border-color: #D94E28;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 2px;
  right: 5px;
  top: 40%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  margin-right: 1.8em;
  border: 1px solid #ccc;
  border-top: none;
  color: black;
  background-color: white;
  font-size: 15px;
  min-width: 100%;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .items {
  display: block;
}

#result-table{
  max-height: 80%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 93%;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 0.5em;
  margin-bottom: 0;
  border: solid;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
  background-color: #ccc;
  border-color: #D94E28;
}

.active {
  background-color: #ccc;
  border-color: #D94E28;
  border-bottom: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  border-radius: 0px 0px 2px 2px;
  padding: 0 18px;
  padding-bottom: 6px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  width: 84.5%;
  margin: 0.5em;
  margin-top: 0;
  transition: max-height 0.2s ease-out;
  border: solid;
  border-color: #D94E28;
  border-top: none;
  visibility: hidden;
}

.content p{
  margin:0;
  padding: 0;
}

.content .title{
  font-size: 1em;
  margin-top: 10px;
}


.collapsible:after {
  border-radius: 2px 2px 0px 0px;
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}